
  <div class=" card card-user">
    <div class=" card-body">
      <p class=" card-text"></p>
      <div class=" author">
        <div class=" block block-one"></div>
        <div class=" block block-two"></div>
        <div class=" block block-three"></div>
        <div class=" block block-four"></div>
        <a href="javascript:void(0)">
          <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

          <h5 class=" title">Grupo M&M Consultoria S.A.S.</h5>
        </a>
      </div>
      <div class=" card-description" style="text-align: center;">
        <p class=" description">Nuestra Visión</p>
        Grupo M&M Consultoría S.A.S. será reconocida como una empresa confiable, organizada e innovadora, 
        enfocada en la gestión, diseño, construcción y gerencia de proyectos habitacionales, comerciales, 
        institucionales, industriales y de infraestructura en general.
      </div>
    </div>
    <div class=" card-footer">
      <div class=" button-container">
        <button
          class=" btn btn-icon btn-round btn-facebook"
          href="javascript:void(0)"
        >
          <i class=" fab fa-facebook"> </i>
        </button>
        <button
          class=" btn btn-icon btn-round btn-twitter"
          href="javascript:void(0)"
        >
          <i class=" fab fa-twitter"> </i>
        </button>
        <button
          class=" btn btn-icon btn-round btn-google"
          href="javascript:void(0)"
        >
          <i class=" fab fa-google-plus"> </i>
        </button>
      </div>
    </div>
  </div>