<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Notificaciones</h4>
        </div>
        <div class=" card-body">
          <form >
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Tipo de alerta </label>
                  <select class=" form-control font-color" formControlName="client">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let client of clientList"
                      [selected]="client.id === projectSelected.idCliente || client.id === 0"
                      [value]="client.id"
                    >
                      {{client.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> NOMBRE DE CONTRATO </label>
                  <input
                    class=" form-control"
                    placeholder="Nombre proyecto"
                    type="text"
                    formControlName="projectName"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> CONTRATO N° </label>
                  <input
                    class=" form-control"
                    placeholder="Numero de contrato"
                    type="text"
                    formControlName="contractNumber"
                  />
                </div>
              </div>
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label> CIUDAD </label>
                  <select class=" form-control font-color" formControlName="city">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let city of cityList" 
                      [selected]="city.id === projectSelected.idCiudad || city.id === 0"
                      [value]="city.id"
                    >
                      {{city.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> EQUIPO </label>
                  <select class=" form-control font-color" formControlName="team">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let team of teamList" 
                      [selected]="team.id === projectSelected.idEquipo || team.id === 0"
                      [value]="team.id"
                    >
                      {{team.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label> ESTADO </label>
                  <select class=" form-control font-color" formControlName="status">
                    <option value="0" [selected]="isNotSelectedProject">Seleccione...</option>
                    <option value="C">Creado</option>
                    <option value="E">En ejecución</option>
                    <option value="F">Finalizado</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label > VALOR CONTRATO </label>
                  <input
                    class=" form-control"
                    placeholder="Valor proyecto"
                    type="number"
                    formControlName="value"
                  />
                </div>
              </div>
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label> FORMAS DE PAGO </label>
                  <select class=" form-control font-color" formControlName="paymentMethod">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let paymentMethod of paymentMethodList" 
                      [selected]="paymentMethod.id === projectSelected.idFormaPago || paymentMethod.id === 0"
                      [value]="paymentMethod.id"
                    >
                      {{paymentMethod.descripcion}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-md-1">
                <h5 class=" title">PLAZO DE EJECUCION INICIAL</h5>
                <div class=" form-group">
                  <label> Fecha Inicial </label>
                  <input 
                    class="form-control" 
                    type="date"
                    formControlName="initExecution" 
                  />
                </div>
                <div class=" form-group">
                  <label> Fecha Final </label>
                  <input 
                    class="form-control " 
                    type="date" 
                    formControlName="endExecution" 
                    (change)="changeInitDate('initExtension', 'endExecution')"
                  />
                </div>
              </div>
              <div class="col-md-3 offset-md-1 pr-md-1">
                <h5 class=" title">PRORROGA O ADICION EN TIEMPO</h5>
                <div class=" form-group">
                  <label> Fecha Inicial </label>
                  <input 
                    class="form-control" 
                    type="date" 
                    formControlName="initExtension"
                  />
                </div>
                <div class=" form-group">
                  <label> Fecha Final </label>
                  <input 
                    class="form-control " 
                    type="date" 
                    formControlName="endExtension" 
                    (change)="changeInitDate('initSuspension', 'endExtension')"
                  />
                </div>
              </div>
              <div class="col-md-3 offset-md-1 pr-md-1">
                <h5 class=" title">PLAZO DE SUSPENSION</h5>
                <div class=" form-group">
                  <label> Fecha Inicial </label>
                  <input 
                    class="form-control"
                    type="date" 
                    formControlName="initSuspension"
                  />
                </div>
                <div class=" form-group">
                  <label> Fecha Final </label>
                  <input 
                    class="form-control " 
                    type="date" 
                    formControlName="endSuspension" 
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 pr-md-1">
                <h5 class=" title">ETAPAS</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-md-1">
                <div class=" form-group">
                  <select class=" form-control font-color" formControlName="stageSelected">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let stage of stagesList; index as i" 
                      [selected]="stage.id === 0"
                      [value]="stage.id"
                    >
                      {{stage.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-1 pr-md-1">
                <button type="button" class="btn btn-primary btn-sm" (click)="addStage()">+</button>
              </div>
            </div>

            <div class=" row" *ngIf="stagesListSelected.length > 0">
              <div class=" col-md-11 pr-md-1">
                <div class=" table-responsive">
                  <table class="table" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th class="td-description">Nombre</th>
                        <th class="td-weight">Peso %</th>
                        <th class="td-deliverables">Entregables</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let stage of stagesListSelected; index as i">
                      <tr>
                        <td class="td-description">{{stage.nombre}}</td>
                        <td class="td-description">
                          <input class=" form-control" type="number" [value]="stage.peso" (change)="onWeigthChange(stage.id, weigth.value)" #weigth>
                        </td>
                        <td class="td-weight">
                          <p>
                            &nbsp;&nbsp;
                            <i class="tim-icons icon-single-copy-04 cursor" (click)="showDeliverables(i)"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="tim-icons icon-simple-remove cursor" (click)="removeStage(stage.id)"></i>
                          </p>
                        </td>
                      </tr>
                      <tr *ngIf="i == iterador" class="tr-background">
                        <app-deliverables 
                          [deliverableIds]="getDeliverablesByStage(stage.id)" 
                          (deliverableSelection)="processDeliverableSelection($event, stage.id)">
                        </app-deliverables>
                      </tr>
                      <br>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </form>
        </div>
        <!--<div class=" card-body">
          <ngb-alert [type]="'info'" [dismissible]="false">
            <span> This is a plain notification </span>
          </ngb-alert>
          <ngb-alert [type]="'info'" *ngIf="!staticAlertClosed" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span> This is a notification with close button. </span>
          </ngb-alert>
          <ngb-alert
            class=" alert-with-icon"
            data-notify="container"
            [type]="'info'"*ngIf="!staticAlertClosed1" [dismissible]="false">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed1 = true">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            <span class=" tim-icons icon-bell-55" data-notify="icon">
            </span>
            <span data-notify="message">
              This is a notification with close button and icon.
            </span>
          </ngb-alert>
          <ngb-alert
            class=" alert-with-icon"
            data-notify="container"
            [type]="'info'"
            *ngIf="!staticAlertClosed2" [dismissible]="false">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed2 = true">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            <span class=" tim-icons icon-bell-55" data-notify="icon">
            </span>
            <span data-notify="message">
              This is a notification with close button and icon and have
              many lines. You can see that the icon and the close button
              are always vertically aligned. This is a beautiful
              notification. So you don't have to worry about the style.
            </span>
          </ngb-alert>
        </div>-->
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Notification states</h4>
        </div>
        <div class=" card-body">
          <ngb-alert [type]="'primary'" *ngIf="!staticAlertClosed3" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed3 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Primary - </b> This is a regular notification made
              with ".alert-primary"
            </span>
          </ngb-alert>
          <ngb-alert [type]="'info'" *ngIf="!staticAlertClosed4" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed4 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Info - </b> This is a regular notification made with
              ".alert-info"
            </span>
          </ngb-alert>
          <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed5" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed5 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Success - </b> This is a regular notification made
              with ".alert-success"
            </span>
          </ngb-alert>
          <ngb-alert [type]="'warning'" *ngIf="!staticAlertClosed6" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed6 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Warning - </b> This is a regular notification made
              with ".alert-warning"
            </span>
          </ngb-alert>
          <ngb-alert [type]="'danger'" *ngIf="!staticAlertClosed7" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed7 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Danger - </b> This is a regular notification made with
              ".alert-danger"
            </span>
          </ngb-alert>
        </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class=" places-buttons">
            <div class=" row">
              <div class=" col-md-6 ml-auto mr-auto text-center">
                <h4 class=" card-title">Notifications Places</h4>
                <p class=" category">Click to view notifications</p>
              </div>
            </div>
            <div class=" row">
              <div class=" col-lg-8 ml-auto mr-auto">
                <div class=" row">
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'left')"
                    >
                      Top Left
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'center')"
                    >
                      Top Center
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'right')"
                    >
                      Top Right
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-lg-8 ml-auto mr-auto">
                <div class=" row">
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('bottom', 'left')"
                    >
                      Bottom Left
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="
                        showNotification('bottom', 'center')
                      "
                    >
                      Bottom Center
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('bottom', 'right')"
                    >
                      Bottom Right
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
