
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Inicio de sesion</h5></div>
        <div class=" card-body">
          <form [formGroup]="userForm">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label>&nbsp;&nbsp;</label>
                  <input
                    class=" form-control"
                    placeholder="Company"
                    type="text"
                    formControlName="company"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Username </label>
                  <input
                    class=" form-control"
                    placeholder="Username"
                    type="text"
                    formControlName="userName"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Password </label>
                  <input
                    class=" form-control"
                    placeholder="password"
                    type="password"
                    formControlName="password"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button 
            class=" btn btn-fill btn-danger" 
            (click)="validateUser()" 
            [disabled]="!userForm.valid"
          >
            Ingresar
          </button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <app-business-card></app-business-card>
    </div>
  </div>
</div>