<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Agregar proyecto</h4></div>
        <div class=" card-body">
          <form [formGroup]="projectForm">
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> ENTIDAD CONTRATANTE </label>
                  <select class=" form-control font-color" formControlName="client">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let client of clientList"
                      [selected]="client.id === 0"
                      [value]="client.id"
                    >
                      {{client.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> CONTRATO N° </label>
                  <input
                    class=" form-control"
                    placeholder="Numero de contrato"
                    type="text"
                    formControlName="contractNumber"
                  />
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> NOMBRE DE CONTRATO </label>
                  <input
                    class=" form-control"
                    placeholder="Nombre proyecto"
                    type="text"
                    formControlName="projectName"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> CIUDAD </label>
                  <select class=" form-control font-color" formControlName="city">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let city of cityList" 
                      [selected]="city.id === 0"
                      [value]="city.id"
                    >
                      {{city.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> EQUIPO </label>
                  <select class=" form-control font-color" formControlName="team">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let team of teamList" 
                      [selected]="team.id === 0"
                      [value]="team.id"
                    >
                      {{team.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> ESTADO </label>
                  <select class=" form-control font-color" formControlName="status">
                    <option value="0" [selected]="0 === 0">Seleccione...</option>
                    <option value="C">Creado</option>
                    <option value="E">En ejecución</option>
                    <option value="F">Finalizado</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label > VALOR CONTRATO </label>
                  <input
                    class=" form-control"
                    placeholder="Valor proyecto"
                    type="number"
                    formControlName="value"
                  />
                </div>
              </div>
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> FORMAS DE PAGO </label>
                  <select class=" form-control font-color" formControlName="paymentMethod">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let paymentMethod of paymentMethodList" 
                      [selected]="paymentMethod.id === 0"
                      [value]="paymentMethod.id"
                    >
                      {{paymentMethod.descripcion}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <h5 class=" title">PLAZO DE EJECUCION INICIAL</h5>
              </div>
            </div>
            <div class=" row">
              <div class="col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Fecha Inicial </label>
                  <input 
                    class="form-control" 
                    type="date"
                    formControlName="initExecution" 
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Fecha Final </label>
                  <input 
                    class="form-control " 
                    type="date" 
                    formControlName="endExecution" 
                    (change)="changeInitDate('initExtension', 'endExecution')"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <h5 class=" title">PRORROGA O ADICION EN TIEMPO</h5>
              </div>
            </div>
            <div class=" row">
              <div class="col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Fecha Inicial </label>
                  <input 
                    class="form-control" 
                    type="date" 
                    formControlName="initExtension"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Fecha Final </label>
                  <input 
                    class="form-control " 
                    type="date" 
                    formControlName="endExtension" 
                    (change)="changeInitDate('initSuspension', 'endExtension')"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <h5 class=" title">PLAZO DE SUSPENSION</h5>
              </div>
            </div>
            <div class=" row">
              <div class="col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Fecha Inicial </label>
                  <input 
                    class="form-control"
                    type="date" 
                    formControlName="initSuspension"
                  />
                </div>
              </div>
              <div class="col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Fecha Final </label>
                  <input 
                    class="form-control " 
                    type="date" 
                    formControlName="endSuspension" 
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <h5 class=" title">ETAPAS</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-md-1">
                <div class=" form-group">
                  <select class=" form-control font-color" formControlName="stageSelected">
                    <option value="0" selected>Seleccione...</option>
                    <option 
                      *ngFor="let stage of stagesList; index as i" 
                      [selected]="stage.id === 0"
                      [value]="stage.id"
                    >
                      {{stage.nombre}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-md-offset-3">
                <div class="tim-icons icon-pin" (click)="addStage()"></div>
              </div>
            </div>

            <div class=" row" *ngIf="stagesListSelected.length > 0">
              <div class=" col-md-10 pr-md-1">
                <div class=" table-responsive">
                  <table class="table" id="">
                    <thead class=" text-primary">
                      <tr>
                        <th class="td-description">Nombre</th>
                        <th class="td-weight">Peso %</th>
                        <th class="td-deliverables">Entregables</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let stage of stagesListSelected; index as i">
                      <tr>
                        <td class="td-description">{{stage.nombre}}</td>
                        <td class="td-description">
                          <input class=" form-control" type="number" (change)="onWeigthChange(stage.id, weigth.value)" #weigth>
                        </td>
                        <td class="td-weight"><p><i class="tim-icons icon-single-copy-04" (click)="showDeliverables(i)"></i></p></td>
                      </tr>
                      <tr *ngIf="i == iterador" class="tr-background">
                        <app-deliverables 
                          [deliverableIds]="getDeliverablesByStage(stage.id)" 
                          (deliverableSelection)="processDeliverableSelection($event, stage.id)">
                        </app-deliverables>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" (click)="createProject()">Crear</button>
        </div>
      </div>
    </div>
    <div class=" col-md-4">
      <app-business-card></app-business-card>
    </div>
  </div>
</div>
