.td-description{
    width: 60%;
}

.td-weight{
    width: 25%;
}

.td-apply{
    width: 15%;
}


.apply-input{
    margin-left: 15%;
}

.weight-input{
    width: 65% !important;
}

.font-color{
    color: grey;
}