.td-description{
    width: 75%;
}

.td-weight{
    width: 15%;
}

.td-deliverables{
    width: 10%;
}

.td-apply{
    width: 10%;
}


.apply-input{
    margin-left: 15%;
}

.weight-input{
    width: 65% !important;
}

.font-color{
    color: grey;
}
.tr-background{
    background-color: transparent;
}
.cursor {
    cursor: pointer;
}